@import "tailwindcss";
@source "../**/*.{js,ts,jsx,tsx}";
@plugin "daisyui" {
  themes: caramellatte;
}

body {
  font-family: system-ui, sans-serif;
}

.font-moirai-one {
  font-family: system-ui, sans-serif;
}
